* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none
}

;

body {
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.col-1{ flex: 1 0 8.33%; max-width: 8.33%; padding: 0 15px;}
.col-2{ flex: 1 0 16.66%; max-width: 16.66%; padding: 0 15px;}
.col-3{ flex: 1 0 25%; max-width: 25%; padding: 0 15px;}
.col-4{ flex: 1 0 33.33%; max-width: 33.33%; padding: 0 15px;}
.col-5{ flex: 1 0 41.66%; max-width: 41.66%; padding: 0 15px;}
.col-6{ flex: 1 0 50%; max-width: 50%; padding: 0 15px;}
.col-7{ flex: 1 0 58.33%; max-width: 58.33%; padding: 0 15px;}
.col-8{ flex: 1 0 66.66%; max-width: 66.66%; padding: 0 15px;}
.col-9{ flex: 1 0 75%; max-width: 75%; padding: 0 15px;}
.col-10{ flex: 1 0 83.33%; max-width: 83.33%; padding: 0 15px;}
.col-11{ flex: 1 0 91.66%; max-width: 91.66%; padding: 0 15px;}
.col-12{ flex: 1 0 100%; max-width: 100%; padding: 0 15px;}

.wrap1 {
    background: gray;
}

.wrap1 .container {
    padding: 1.5rem 0;
}

.wrap1 .container .row {
    justify-content: space-between;
}

.navbar {
    display: flex;
}

.navbar .col2 {
    margin: 0 15px;
    border-bottom: transparent;
}

.navbar .col2 a {
    font-size: 20px;
    font-weight: bold;
    display: block;
    color: #f2f2f2;
}

.navbar .col2 a:hover{color: black;}
.navbar .col2 a:active{color: white;}

.navbar .col2:hover {
    color: #000;
    border-bottom: 2px solid black;
}

.navbar .col2:active {
    color: #f2f2f2;
    border-bottom: 2px solid white;
}

.row .buttons {
    display: flex;
}

.buttons .col5 button {
    height: 35px;
    border-radius: 3px;
    border: none;
    background: #48484a;
    color: white;
    width: 90px;
    margin-right: 2px;
}

.buttons .col5 button:hover {
    background: rgb(86, 86, 86);
}

.buttons .col5 button:active {
    background: #2c2a2a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.buttons .col5 button a {
    font-size: 16px;
    display: block;
    color: #f2f2f2;
}

.buttons .col5 button a:hover {
    color: #000;
}

.buttons .col5 button a:active {
    color: #f2f2f2;
}